node_modules
*.beam
*.pyc
.vscode/
target/
.settings/
.project
.classpath
*.iml
.idea/*
java/target/*
*.sum
.history/
.DS_Store
coverage.out
coverage.html
.nyc_output/
coverage/
csharp/**/bin
csharp/**/obj
csharp/**/.vs